[submodule "robotframework-dist-butlerhat"]
	path = robotframework-dist-butlerhat
	url = git@github.com:ButlerHat/robotframework-dist-butlerhat.git
[submodule "TestSuites/CicloZero"]
	path = TestSuites/CicloZero
	url = git@github.com:ButlerHat/CicloZero.git
[submodule "TestSuites/ONCE"]
	path = TestSuites/ONCE
	url = git@github.com:ButlerHat/ONCE.git
