[submodule "robotframework-dist-butlerhat"]
	path = robotframework-dist-butlerhat
	url = git@github.com:ButlerHat/robotframework-dist-butlerhat.git
[submodule "TestSuites/CicloZero"]
	path = TestSuites/CicloZero
	url = git@github.com:ButlerHat/CicloZero.git
[submodule "TestSuites/ONCE"]
	path = TestSuites/ONCE
	url = git@github.com:ButlerHat/ONCE.git
[submodule "interpreter-butlerhat"]
	path = interpreter-butlerhat
	url = git@github.com:ButlerHat/interpreter-butlerhat.git
[submodule "ButlerApi/chrome_plugin-butlerhat"]
	path = ButlerApi/chrome_plugin-butlerhat
	url = git@github.com:ButlerHat/chrome_plugin-butlerhat.git
[submodule "ButlerRobot/robotframework-browser-stealth"]
	path = ButlerRobot/robotframework-browser-stealth
	url = git@github.com:ButlerHat/robotframework-browser-stealth.git
[submodule "chrome_plugin_cookies-butlerhat"]
	path = chrome_plugin_cookies-butlerhat
	url = git@github.com:ButlerHat/chrome_plugin_cookies-butlerhat.git
[submodule "TestSuites/KitDigital"]
	path = TestSuites/KitDigital
	url = git@github.com:ButlerHat/KitDigital.git
