wheel
robotframework>=5.0.1
# robotframework>=6.0.2  < When rpaframework is updated to support RF 6
robotframework-browser>=16.0.5
robotframework-seleniumlibrary
fastdeploy-python
pillow
imagehash
cryptography
datasets
pandas
openpyxl
rpaframework>=23.3.0
pyautogui
